@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

@layer components {
  .grid_ {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .box {
    @apply w-48 h-48 text-white font-bold text-2xl p-6;
  }

  .num {
    @apply text-9xl opacity-45 translate-x-12 translate-y-12;
  }

  .btn{
    @apply bg-green rounded font-bold text-white p-4 w-40;
  }

  .text{
    @apply text-sm text-gray-500 leading-6;
  }

  .menu{
    @apply flex flex-col justify-center gap-2 text-sm;
  }

  .menu p{
    @apply font-bold mb-4;
  }

  .menu li{
    @apply text-sm text-gray-600;
  }

  .white-box,.bg-5{
    transform-origin: top;
  }
}
